<div class="main-wrapper">
        <div class="header">
    <div class="logo"><img src="https://raw.githubusercontent.com/yazs2020/yazs-test/master/images/logo.png" alt="Biddle Portal Shell"/></div>
    <div class="top-nav">
    </div>
  </div>
  <div class="container sidebar-expanded" id="main-section">


      <div class="sidebar-wrap">
      <div class="sidebar"> 
        
        <!-- sidebar navigation -->
        
        <nav class="nav-sidebar"> <a href="#" id="collapse-nav"><span id="toggle-collapse" class="item-ico icon-angle-double-left"></span> <span class="item-label">Menu</span></a> 
			<a href="#"><span class="item-ico icon-home"></span> <span class="item-label">Welcome</span></a> 
			<a href="#"><span class="item-ico icon-cogs"></span> <span class="item-label">System</span></a> 
			<a href="#"><span class="item-ico icon-building-o"></span> <span class="item-label">My Organization</span></a> 
			<a href="#"><span class="item-ico icon-archive"></span> <span class="item-label">Files</span></a> 
			<a href="#"><span class="item-ico icon-chart"></span> <span class="item-label">Dashboard</span></a> 
			<a href="#"><span class="item-ico icon-logo-bcgi"></span> <span class="item-label">BCG Institute</span></a> 
			<a href="#"><span class="item-ico icon-logo-icon"></span> <span class="item-label">myAAP</span></a>
			<a href="#"><span class="item-ico icon-calculator"></span> <span class="item-label">Impact Evaluator</span></a> 
			<a href="#" class="active"><span class="item-ico icon-outreach"></span> <span class="item-label">Outreach Efforts</span></a> 
			<a href="#"><span class="item-ico icon-comments"></span> <span class="item-label">Support</span></a> </nav>
        
        <!-- end of sidebar navigation --> 
        
      </div>
    </div>
    <div class="right-content" id="content-section">
      <!-- page navigation -->
      <div class="page-title">
        <h2>Outreach Efforts</h2>
      </div>

      <div class="clear"></div>
      <!-- end of page navigation -->
		
		
	<!---------------------------------- CONTENT --------------------------------->
      <div class="content k-content" role="application"> 
        
        <!------- bx-topbar ------->
        <div class="bx-topbar"> 
          <!-- organization -->
          <div class="col-left">
			  <div class="k-form-inline">
            <label class="k-form-field" for="ana-models">
				<span>Analysis Model</span>
              <select id="ana-models" placeholder="Select Analysis Model" style="width: 270px;" >
                <option>AAPs</option>
              </select>
            </label>
          </div></div>
          <div class="col-right col-wide">

          </div>
          <div class="clear mbot15"></div>
        </div>
		  
        <!------- end of bx-topbar -------> 
        
        <!------- bx-btnbar ------->
        <div class="bx-btnbar">
         <div class="col-left col-wide">
          <button type="button" class="k-button k-primary"><span class="k-icon icon-add-row"></span> <span class="item-label">Add Row</span></button>
          <button type="button" class="k-button k-primary"><span class="k-icon icon-redo2"></span> <span class="item-label">Import</span></button>
			<button type="button" class="k-button k-primary"><span class="k-icon icon-edit"></span> <span class="item-label">Edit</span></button>
			 <div class="e-disabled" style="display: inline-block; margin: 0; padding: 0;"><button id="downloadbtn"></button></div>
          <button type="button" class="k-button k-primary"><span class="k-icon icon-table-options"></span> <span class="item-label">Options</span></button>
          </div>
          <div class="col-right">
          </div>         
          <div class="clear"></div>
        </div>
       <!------- end of bx-btnbar ------->   
        <div class="grid-wrapper">
    <ejs-grid [dataSource]='data' [gridLines]="Both" allowPaging='true' height="100%" width="100%" [enableHover]="true" [allowSelection]="true" [selectionSettings]="selectOptions" [editSettings]='editSettings' allowTextWrap='true'  >
        <e-columns>
            <e-column type='checkbox' width='30'></e-column>
            <e-column field='OrderID' isPrimaryKey='true' headerText='Date' width='84' textAlign='Left'></e-column>
            <e-column field='CustomerName' headerText='Activity/Service/Website' width='170'></e-column>
            <e-column field='OrderDate' headerText='Brief Description' width='172' format="yMd" textAlign='Left'></e-column>
            <e-column field='Freight' headerText='Protected Group' width='77' format='C2' textAlign='Center'></e-column>
            <e-column field='ShippedDate' headerText='Effectiveness(scale)' width='98' format="yMd" textAlign='Center'></e-column>
            <e-column field='ShipAddress' headerText='Evaluation' width='180' format="yMd" textAlign='Left'></e-column>
            <e-column field='ShipCity' headerText='Attachments' width='98' format="yMd" textAlign='Left'></e-column>
            <e-column field='ShipRegion' headerText='User' width='98' format="yMd" textAlign='Left'></e-column>
            <e-column field='ShipCountry' headerText='Plan/Location' width='100' format="yMd" textAlign='Center'></e-column>
        </e-columns>
    </ejs-grid>
        </div>
      </div>
    </div>
  </div>
</div>